<div class="row solution">
  <div class="col-9">
    {{#each slice.segments as |segment|}}
      <div class="row">
        <div class="col-4 border border-left-0 border-top-0 border-bottom-0">
          <h6><i class="fa fa-calendar"></i>&nbsp;{{moment-format
            outwardDepartureLocalTime
            'DD/MM/YYYY'}}&nbsp; {{moment-format
            outwardDepartureLocalTime 'HH:mm'}}</h6>

          <p>{{segment.originAirport}}</p>

        </div>
        <div class="col-4 border border-left-0 border-top-0 border-bottom-0">

          <strong><i class="fa fa-plane"></i> {{segment.airline.id}} {{segment.number}}<br/></strong>
          <ul class="list-unstyled">
            {{#each segment.legs as |leg|}}
              <li class="small text-muted"> {{leg.origin}} - {{leg.destination}} ({{moment-duration
                leg.duration
                'minutes'}}
                )<br/>
                {{leg.operationDisclosure}}
              </li>
            {{/each}}
          </ul>

        </div>
        <div class="col-4 border border-left-0 border-top-0 border-bottom-0">
          <h6>
            <i class="fa fa-calendar"></i>&nbsp;{{moment-format
            segment.destinationLocalArrivalTime
            'DD/MM/YYYY'}}&nbsp;{{moment-format
            segment.destinationLocalArrivalTime 'HH:mm'}}
          </h6>
          <p>{{segment.destinationAirport}}</p>
          <p class="small text-muted"></p>
        </div>
      </div>
    {{/each}}
  </div>
  <div class="col-3">
    <ul class="list-unstyled text-right">
      {{#each prices as |price index|}}
        {{#if (eq index 0)}}
          <li class="h6 text-success text-right">{{price.requestCurrency}} {{price.requestCurrencyAmount}} <span
            class="small">({{#if
            (not-eq price.currency price.requestCurrency) }}{{price.currency}} {{price.amount}}{{/if}}
            {{price.country}})</span></li>
        {{else}}
          <li class="text-warning text-right">{{price.requestCurrency}} {{price.requestCurrencyAmount}} <span
            class="small">({{#if
            (not-eq price.currency price.requestCurrency) }}{{price.currency}} {{price.amount}}{{/if}}
            {{price.country}})</span></li>
        {{/if}}
      {{/each}}
    </ul>
  </div>


</div>