<div class="form-row">
  <div class="form-group col">
    <label>Departure Airport
      {{input value=departureAirport class="form-control"}}
    </label>
  </div>
  <div class="form-group col">
    <label>Arrival Airport
      {{input value=arrivalAirport class="form-control"}}
    </label>
  </div>
  <div class="form-group col">
    <label>Departure Date
      {{pikaday-input value=departureDate options=(hash minDate=minDate) onSelection=(action (mut departureDate))}}
    </label>
  </div>
  <div class="form-group col">
    <label>Number of adult
      {{input type="number" class="form-control" value=numberOfAdult}}
    </label>
  </div>

  <div class="form-group col">
    <label for="class">Travel Class
      {{select-dropdown content=travelClasses selectedValue=initialTravelClass action=(action (mut travelClass))}}
    </label>
  </div>
  {{yield}}
</div>

<div class="row">
  <div class="col-10"></div>
  <div class="col-2 align-self-end">
    <button type="submit" {{action "search" }}class="btn btn-primary">Search</button>

  </div>
</div>

