<div class="row solution">
  <div class="col-10">
    {{slice-info slice=outwardSlice title='Departure'}}
    {{slice-info slice=returnSlice title='Return'}}
  </div>
  <div class="col-2 order-2">
    <div class="price-block">
      <div class="main-price-block">
        <div class="price">{{cheapestPrice.requestCurrencyAmount}} {{cheapestPrice.requestCurrency}}
          {{#if (not-eq price.currency price.requestCurrency) }}
            ({{cheapestPrice.amount}} {{cheapestPrice.currency}})
          {{/if}}
        </div>
        <div class="price-country">{{cheapestPrice.country}}</div>
      </div>
      <div class="other-price">
        {{#each pricesExceptCheapest as |price|}}
          <span class="price-country">{{price.country}}</span>
          <span class="price">
            {{price.requestCurrencyAmount}} {{price.requestCurrency}}
            {{#if (not-eq price.currency price.requestCurrency) }}
              ({{price.amount}} {{price.currency}})
            {{/if}}
          </span>
          <br>
        {{/each}}
      </div>
    </div>
  </div>
</div>