<div class="col-9">
  <div class="row summary-slice">
    <div class="col-4 border border-left-0 border-top-0 border-bottom-0">
      <h6><i class="fa fa-calendar"></i>&nbsp;{{moment-format
        outwardDepartureLocalTime
        'DD/MM/YYYY'}}&nbsp; {{moment-format
        outwardDepartureLocalTime 'HH:mm'}}</h6>
      <p>{{departureAirport}}</p>
    </div>

    <div class="col-4 border border-left-0 border-top-0 border-bottom-0">
      {{#if (eq 0 outwardConnectionCount)}}
        <h6>Direct flight</h6>
      {{else}}
        <h6>{{outwardConnectionCount}} stop <span class="small text-muted">
          ({{outwardConnectingAirport}})
        </span></h6>
      {{/if}}
      <span class="small text-muted">{{outwardFlights}}</span>

    </div>

    <div class="col-4 border border-left-0 border-top-0 border-bottom-0">
      <h6><i class="fa fa-calendar"></i>&nbsp;{{moment-format
        outwardArrivalLocalTime
        'DD/MM/YYYY'}}&nbsp; {{moment-format
        outwardArrivalLocalTime 'HH:mm'}}</h6>
      <p>{{arrivalAirport}}</p>
    </div>
  </div>

  <div class="row summary-slice">
    <div class="col-4 border border-left-0 border-top-0 border-bottom-0">
      <h6><i class="fa fa-calendar"></i>&nbsp;{{moment-format
        returnDepartureLocalTime
        'DD/MM/YYYY'}}&nbsp; {{moment-format
        returnDepartureLocalTime 'HH:mm'}}</h6>
      <p>{{arrivalAirport}}</p>
    </div>

    <div class="col-4 border border-left-0 border-top-0 border-bottom-0">
      {{#if (eq 0 returnConnectionCount)}}
        <h6>Direct flight</h6>
      {{else}}
        <h6>{{returnConnectionCount}} stop <span class="small text-muted">({{returnConnectingAirport}})</span></h6>
      {{/if}}
      <span class="small text-muted">{{returnFlights}}</span>

    </div>

    <div class="col-4 border border-left-0 border-top-0 border-bottom-0">
      <h6><i class="fa fa-calendar"></i>&nbsp;{{moment-format
        returnArrivalLocalTime
        'DD/MM/YYYY'}}&nbsp; {{moment-format
        returnArrivalLocalTime 'HH:mm'}}</h6>
      <p>{{departureAirport}}</p>
    </div>

  </div>

</div>
<div class="col-3">
  <ul class="list-unstyled text-right">
  {{#each solution.prices as |price index|}}
    {{#if (eq index 0)}}
      <li class="h6 text-success text-right">{{price.requestCurrency}} {{price.requestCurrencyAmount}} <span
        class="small">({{#if  (not-eq price.currency price.requestCurrency) }}{{price.currency}} {{price.amount}}{{/if}}
        {{price.country}})</span></li>
    {{else}}
      <li class="text-warning text-right">{{price.requestCurrency}} {{price.requestCurrencyAmount}} <span
        class="small">({{#if  (not-eq price.currency price.requestCurrency) }}{{price.currency}} {{price.amount}}{{/if}}
        {{price.country}})</span></li>
    {{/if}}
  {{/each}}
  </ul>
</div>