<div class="col-3">
  {{filter/connection-filter onChange=(action (mut maxConnection))}}

  {{filter/airline-filter airlines=airlines}}

  {{filter/price-filter
    lowestPrice = lowestPrice
    biggestPrice = biggestPrice
    priceRangeLowerBound  = (mut priceRangeLowerBound)
    priceRangeHigherBound = (mut priceRangeHigherBound)}}

  <div class="filter-criteria">
    <h6>Time filters</h6>
    <ul class="list-unstyled">
      {{#each model.uniqueAirlines as |airline|}}
        <li>{{airline}}</li>
      {{/each}}
    </ul>
  </div>

</div>

<div class="col-9 search-results-container">
  {{#vertical-collection
    sortedSolutions
    containerSelector='body'
    estimateHeight=rowHeight
  as |item|
  }}
    {{yield item}}

  {{/vertical-collection}}

</div>

