<div class="row result-header-row">
  <div class="col-md-3 col-sm-12">
    <div class="result-header-content-left">
      <i class="fa fa-search"></i> {{sortedSolutions.length}} Result{{#if (gt sortedSolutions.length 1)}}s{{/if}} found
    </div>
  </div>

  <div class="col-md-9 col-sm-12 white-background">
    <div class="result-header-content-right">
      Sort results by&nbsp;
      <button type="submit" class="btn btn-sm {{if isSortByAmount 'btn-primary' 'btn-outline-primary'}}" {{action
        'sortByPrice'}}>
        Price
      </button>
      &nbsp;
      <button type="submit" class="btn btn-sm {{if isSortByDepartureTime 'btn-primary' 'btn-outline-primary'}}" {{action
        'sortByDepartureTime'}}>
        Departure time
      </button>
      &nbsp;
      <button type="submit" class="btn btn-sm {{if isSortByArrivalTime 'btn-primary' 'btn-outline-primary'}}" {{action
        'sortByArrivalTime'}}>
        Arrival time
      </button>
      &nbsp;
      <button type="submit" class="btn btn-sm {{if isSortByDuration 'btn-primary' 'btn-outline-primary'}}" {{action
        'sortByDuration'}}>Duration
      </button>
    </div>
  </div>
</div>
<div class="row">

  <div class="col-md-3 col-sm-12">
    {{filter/price-filter
      lowestPrice = lowestPrice
      biggestPrice = biggestPrice
      onPriceRangeLowerBoundChange  = (action (mut priceRangeLowerBound))
      onPriceRangeHigherBoundChange = (action (mut priceRangeHigherBound))}}

    {{filter/connection-filter onChange=(action (mut maxConnection))}}

    {{filter/airline-filter airlines=airlines}}

    {{filter/time-filter
      lowestDepartureTimes = lowestDepartureTimestamps
      latestDepartureTimes = latestDepartureTimestamps
      lowestArrivalTimes = lowestArrivalTimestamps
      latestArrivalTimes = latestArrivalTimestamps
      onChange = (action 'updateTimeFiltering')
    }}


  </div>

  <div class="col-md-9 col-sm-12 search-results-container">
    {{#vertical-collection
      sortedSolutions
      containerSelector='body'
      estimateHeight=rowHeight
    as |item|
    }}
      {{yield item}}

    {{/vertical-collection}}

  </div>
</div>
