<div class="col-md-1 col-sm-12 slice-direction">
  {{title}}
</div>
<div class="col-md-11 col-sm-12">

  <div class="slice-info-header">
    {{moment-format slice.originLocalDepartureTime 'DD/MM/YYYY'}}
    {{slice.originAirport}} - {{slice.destinationAirport}}
    <span class="duration">
        <i class="fa fa-clock-o"></i>
      {{moment-duration slice.duration 'minutes'}}
      </span>
  </div>

  <div class="slice-line">
    <div class="slice-info">
      <strong>Departure</strong>
      <span>
        {{slice.originAirport}}<br>
        {{moment-format slice.originLocalDepartureTime 'DD/MM HH:mm'}}
      </span>
    </div>

    {{#each slice.displayFriendlySegments as |segment index|}}
      <div class="slice-line-divider"></div>

      <div class="slice-info">
        <strong>{{#if (lt index connectionCount)}}Connection{{else}}Arrival{{/if}}</strong>
        <span>
          {{segment.destinationAirport}}<br>
          {{#if (lt index connectionCount)}}
            <span title="{{moment-duration segment.connectionDuration 'minutes'}}">
            {{moment-format segment.destinationLocalArrivalTime 'DD/MM HH:mm'}}
              - {{moment-format segment.nextDepartureFromArrivalLocation 'DD/MM HH:mm'}}</span>
          {{else}}
            {{moment-format segment.destinationLocalArrivalTime 'DD/MM HH:mm'}}
          {{/if}}
          </span>
      </div>

    {{/each}}


    <div class="slice-details-toggle">
      <strong {{action 'toggleDetails'}}>Details <i class="fa {{if detailsOpen 'fa-angle-up' 'fa-angle-down'}}"></i>
      </strong>
    </div>
  </div>

  {{#if detailsOpen}}
    <div class="clearfix"></div>
    <div class="slice-details">

      {{#each slice.segments as |segment|}}
        <div class="segment row">
          <div class="segment-details-departure col-sm-12 col-md-4">
            <div class="segment-date">{{moment-format segment.originLocalDepartureTime 'DD/MM/YYYY'}}</div>
            <div class="segment-time-airport">{{moment-format segment.originLocalDepartureTime
                                                              'HH:mm'}} {{segment.originAirport}}</div>
          </div>
          <div class="segment-details-arrival col-sm-12 col-md-4 offset-md-4">
            <div class="segment-date">{{moment-format segment.destinationLocalArrivalTime 'DD/MM/YYYY'}}</div>
            <div class="segment-time-airport">{{moment-format segment.destinationLocalArrivalTime
                                                              'HH:mm'}} {{segment.destinationAirport}}</div>
          </div>
          <div class="segment-details-other col-sm-12">
            Flight {{segment.airline.id}}-{{segment.number}}
            {{#each segment.legs as |leg i|}}
              {{#if (not-eq i 0)}}, {{/if}}
              {{leg.aircraft}}
            {{/each}}

            {{segment.cabin}}<br>
            {{#each segment.legs as |leg|}}
              {{leg.operatingDisclosure}}
            {{/each}}
          </div>

        </div>

        {{#if (gt segment.connectionDuration 0)}}
          <div class="segment row">
            <div class="segment-details-other col-sm-12">
              <i class="fa fa-clock-o"></i> Connection in {{segment.destinationAirport}}: {{moment-duration
              segment.connectionDuration 'minutes'}}
            </div>
          </div>
        {{/if}}

      {{/each}}
    </div>
  {{/if}}
</div>
