<div class="container-fluid">
  <div class="results row ">

    <div class="col-6 col-md-2">
      <div class="filter-criteria">
        <h6>Connection filter</h6>
        Max Number of connection:
        {{input type="number" value=maxConnection}}
      </div>

      <div class="filter-criteria">
        <h6>Airline filters</h6>
        <ul class="list-unstyled">
          {{#each model.uniqueAirlines as |airline|}}
            <li>{{airline}}</li>
          {{/each}}
        </ul>
      </div>

      <div class="filter-criteria">
        <h6>Time filters</h6>
        <ul class="list-unstyled">
          {{#each model.uniqueAirlines as |airline|}}
            <li>{{airline}}</li>
          {{/each}}
        </ul>
      </div>

    </div>

    <div class="col-12 col-md-10">
      {{#each sortedSolutions as |solution|}}
        <div class="row solution">
          <div class="col-3 border border-left-0 border-top-0 border-bottom-0">
            {{#each solution.slices as |slice|}}
              {{#each slice.segments as |segment|}}
                <ul class="list-unstyled">
                  <li class="h4"><i class="fa fa-calendar"></i>&nbsp;{{moment-format segment.originLocalDepartureTime
                                                                                     'DD/MM/YYYY'}}</li>
                  <li class="h5"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{moment-format
                    segment.originLocalDepartureTime 'HH:mm'}}</li>
                </ul>

                <h6>{{segment.originAirport}}</h6>
              {{/each}}
            {{/each}}
          </div>
          <div class="col-3 border border-left-0 border-top-0 border-bottom-0">
            {{#each solution.slices as |slice|}}
              {{#each slice.segments as |segment|}}
                <strong><i class="fa fa-plane"></i> {{segment.carrierIATA}} {{segment.number}}<br/></strong>
                <ul class="list-unstyled">
                  {{#each segment.legs as |leg|}}
                    <li class="small text-muted"> {{leg.origin}} - {{leg.destination}} ({{moment-duration leg.duration
                                                                                                          'minutes'}}
                      )<br/>
                      {{leg.operationDisclosure}}
                    </li>
                  {{/each}}
                </ul>
              {{/each}}
            {{/each}}
          </div>
          <div class="col-3 border border-left-0 border-top-0 border-bottom-0">
            {{#each solution.slices as |slice|}}
              {{#each slice.segments as |segment|}}
                <ul class="list-unstyled">
                  <li class="h4"><i class="fa fa-calendar"></i>&nbsp;{{moment-format
                    segment.destinationLocalArrivalTime
                    'DD/MM/YYYY'}}</li>
                  <li class="h5"><i class="fa fa-clock-o"></i>&nbsp;&nbsp;{{moment-format
                    segment.destinationLocalArrivalTime 'HH:mm'}}</li>
                </ul>
                <h6>{{segment.destinationAirport}}</h6>
                <p class="small text-muted"></p>
              {{/each}}
            {{/each}}
          </div>
          <div class="col-3">
            {{#each solution.prices as |price index|}}
              {{#if (eq index 0)}}
                <h6 class="text-success text-right">{{price.currency}} {{price.amount}} <span
                  class="small">({{price.country}})</span></h6>
              {{else}}
                <h6 class="text-warning text-right">{{price.currency}} {{price.amount}}<span
                  class="small">({{price.country}})</span></h6>
              {{/if}}
            {{/each}}

          </div>


        </div>

      {{/each}}
    </div>
  </div>

  {{outlet}}
</div>


